h1{
    /* apply font family */
    font-family: sans-serif;


    /* fontsize */
    font-size: 50px; /* or in % */



    /* bold italic normal oblique */
    font-weight: bold;



    /* transforming text */
    text-transform: uppercase;



    /* leading lineheight */
    line-height: 1.5em;



    /* letter and word spacing */
    letter-spacing: 1em;
    word-spacing: 1em;

    /* Alignment left right center */
    text-align: center;

    /* Text Indent */
    text-indent: 5%;
}